*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}
header{
    position: fixed;
    background-color: black;
    display: grid;
    align-items:  center;
    width: 100%;
    height: 40px;
    top: 0;
}
footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.nav-right{
    float: right;
}
.nav-left{
    float: left;
    
}
.nav-link{
    place-content: center;
}
a{
    font-size: x-large;
    color: white;
    margin-left:20px;
    text-decoration: none;
}
a:hover{
    color: gray;
}
.con{
    margin: 50px;
    display: grid;
    place-items: center;
}
.con-items{
    text-align: center;
    background-color: black;
    padding: 30px;
    border-radius: 5px;
}
form{
    text-align: center;
  
}
input{
    width: 300px;
    height: 30px;
    margin: 20px;
    border: none;
    padding: 5px;
    font-size: large;
}
input:hover{
    background-color: gray;
    color: white;
}
.topinput{
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
}
.bottominput{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.msgCard{
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}
.linkToCreat{
    display: grid;
    place-items: center ;
    background-color: white;
    border-radius: 10px;
    color: black;
}
details{
    background-color: greenyellow;
    padding: 20px;
    border-radius: 10px;
}
select{
    width: 300px;
    height: 30px;
    margin: 20px;
    border: none;
    padding: 5px;
    font-size: large;   
}
textarea{
    width: 300px;
    height: 30px;
    margin: 20px;
    border: none;
    padding: 5px;
    font-size: large;
}
label{
    color: white;
    font-size:  large;
    float: right;
}